# Unit 5 - Financial Planning

In [1]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation

%matplotlib inline

ModuleNotFoundError: No module named 'MCForecastTools'

In [2]:
ls -a

./                         Financial_planner.ipynb
../                        Untitled.ipynb
.DS_Store                  Untitled1.ipynb
.env                       Untitled2.ipynb
.ipynb_checkpoints/        financial-planner.ipynb
Data_visualization1.ipynb  financial-planner_2.ipynb

In [3]:
!cat .env

QUANDL_API_KEY="5oGVoxMmhYUx-hAP3AN6"
ALPACA_API_KEY="PK7DD7CHY8AJW97JG87S"
ALPACA_SECRET_KEY="enGR3o8As95veRW6ZZtKOp6opWOZJMUgV1baRwNF"

In [4]:
# Load .env enviroment variables
load_dotenv()

True

## Part 1 - Personal Finance Planner

### Collect Crypto Prices Using the `requests` Library

In [5]:
# Set current amount of crypto assets
# Set current amount of crypto assets
# 1.2 BTC and 5.3 ETH
# 50 SPY (stocks) and 200 AGG (bonds)
# Average household income for each member of the credit union is $12,000

In [6]:
api_key = os.getenv("QUANDL_API_KEY")

In [7]:
api_key

'5oGVoxMmhYUx-hAP3AN6'

In [8]:
request_url = "https://api.alternative.me/v2/ticker/Bitcoin/?convert=CAD"

In [9]:
request_url = request_url + api_key

In [10]:
response_data = requests.get(request_url)

In [11]:
request_url

'https://api.alternative.me/v2/ticker/Bitcoin/?convert=CAD5oGVoxMmhYUx-hAP3AN6'

In [12]:
response_data.content

b'{\n\t"data": {\n\t\t"1": {\n\t\t\t"id": 1,\n\t\t\t"name": "Bitcoin",\n\t\t\t"symbol": "BTC",\n\t\t\t"website_slug": "bitcoin",\n\t\t\t"rank": 1,\n\t\t\t"circulating_supply": 19001006,\n\t\t\t"total_supply": 19001006,\n\t\t\t"max_supply": 21000000,\n\t\t\t"quotes": {\n\t\t\t\t"USD": {\n\t\t\t\t\t"price": 46280.0000000000000000,\n\t\t\t\t\t"volume_24h": 25142942492,\n\t\t\t\t\t"market_cap": 879461063044,\n\t\t\t\t\t"percentage_change_1h": 0.0202769339718029,\n\t\t\t\t\t"percentage_change_24h": -0.1220658139826470,\n\t\t\t\t\t"percentage_change_7d": 4.3949850414809600,\n\t\t\t\t\t"percent_change_1h": 0.0202769339718029,\n\t\t\t\t\t"percent_change_24h": -0.1220658139826470,\n\t\t\t\t\t"percent_change_7d": 4.3949850414809600\n\t\t\t\t}\n\t\t\t},\n\t\t\t"last_updated": 1648936367\n\t\t}\n\t},\n\t"metadata": {\n\t\t"timestamp": 1648936367,\n\t\t"num_cryptocurrencies": 3105,\n\t\t"error": null\n\t}\n}'

In [13]:
alpaca_api_key=os.getenv('ALPACA_API_KEY')

In [14]:
alpaca_secret_key=os.getenv('ALPACA_SECRET_KEY')

In [15]:
alpaca_api_key

'PK7DD7CHY8AJW97JG87S'

In [16]:
my_btc = 1.2
my_eth = 5.3

In [17]:
# Crypto API URLs
btc_url = "https://api.alternative.me/v2/ticker/Bitcoin/?convert=CAD"
eth_url = "https://api.alternative.me/v2/ticker/Ethereum/?convert=CAD"

In [18]:
response_data_btc = requests.get(btc_url)
response_data_btc
response_content_btc = response_data_btc.content
response_content_btc
data_btc = response_data_btc.json()
import json
print(json.dumps(data_btc, indent=4))
response_data_eth = requests.get(eth_url)
response_content_eth = response_data_eth.content
data_eth = response_data_eth.json()
import json
print(json.dumps(data_eth, indent=4))

{
    "data": {
        "1": {
            "id": 1,
            "name": "Bitcoin",
            "symbol": "BTC",
            "website_slug": "bitcoin",
            "rank": 1,
            "circulating_supply": 19001006,
            "total_supply": 19001006,
            "max_supply": 21000000,
            "quotes": {
                "USD": {
                    "price": 46280.0,
                    "volume_24h": 25142942492,
                    "market_cap": 879461063044,
                    "percentage_change_1h": 0.0202769339718029,
                    "percentage_change_24h": -0.122065813982647,
                    "percentage_change_7d": 4.39498504148096,
                    "percent_change_1h": 0.0202769339718029,
                    "percent_change_24h": -0.122065813982647,
                    "percent_change_7d": 4.39498504148096
                },
                "CAD": {
                    "price": 57942.56,
                    "volume_24h": 31478963999.984,
                    "market_cap": 1101085250931.09,
                    "percent_change_1h": 0.0202769339718029,
                    "percent_change_24h": -0.122065813982647,
                    "percent_change_7d": 4.39498504148096
                }
            },
            "last_updated": 1648936367
        }
    },
    "metadata": {
        "timestamp": 1648936367,
        "num_cryptocurrencies": 3105,
        "error": null
    }
}
{
    "data": {
        "1027": {
            "id": 1027,
            "name": "Ethereum",
            "symbol": "ETH",
            "website_slug": "ethereum",
            "rank": 2,
            "circulating_supply": 120218223,
            "total_supply": 120218223,
            "max_supply": 0,
            "quotes": {
                "USD": {
                    "price": 3475.55,
                    "volume_24h": 22282075930,
                    "market_cap": 417805425968,
                    "percentage_change_1h": 0.0657648206387396,
                    "percentage_change_24h": 0.535273068036732,
                    "percentage_change_7d": 11.8953768677207,
                    "percent_change_1h": 0.0657648206387396,
                    "percent_change_24h": 0.535273068036732,
                    "percent_change_7d": 11.8953768677207
                },
                "CAD": {
                    "price": 4351.3886,
                    "volume_24h": 27897159064.36,
                    "market_cap": 523092393311.936,
                    "percent_change_1h": 0.0657648206387396,
                    "percent_change_24h": 0.535273068036732,
                    "percent_change_7d": 11.8953768677207
                }
            },
            "last_updated": 1648936362
        }
    },
    "metadata": {
        "timestamp": 1648936362,
        "num_cryptocurrencies": 3105,
        "error": null
    }
}

In [19]:
# Fetch current BTC price
btc_value = data_btc["data"]["1"]["quotes"]["CAD"]["price"]
my_btc_value = my_btc * btc_value
# Fetch current ETH price
eth_value = data_eth["data"]["1027"]["quotes"]["CAD"]["price"]
my_eth_value = my_eth * eth_value
# Compute current value of my crpto
# Print current crypto wallet balance
print(f"The current value of your {my_btc} BTC is ${my_btc_value:0.2f}")
print(f"The current value of your {my_eth} ETH is ${my_eth_value:0.2f}")

The current value of your 1.2 BTC is $69531.07
The current value of your 5.3 ETH is $23062.36

### Collect Investments Data Using Alpaca: `SPY` (stocks) and `AGG` (bonds)

In [20]:
# Set current amount of shares
my_agg = 200
my_spy = 50

In [21]:
# Set Alpaca API key and secret
alpaca_api_key=os.getenv('ALPACA_API_KEY')
alpaca_secret_key=os.getenv('ALPACA_SECRET_KEY')
alpaca_api_key
alpaca_secret_key

'enGR3o8As95veRW6ZZtKOp6opWOZJMUgV1baRwNF'

In [22]:
alpaca_api_key

'PK7DD7CHY8AJW97JG87S'

In [23]:
alpaca_secret_key

'enGR3o8As95veRW6ZZtKOp6opWOZJMUgV1baRwNF'

In [52]:
# Create the Alpaca API object
alpaca=tradeapi.REST(alpaca_api_key, alpaca_secret_key, api_version='v2')

In [25]:
from datetime import datetime
# Format current date as ISO format
today = datetime.now()

In [53]:
start = pd.Timestamp("2016-03-30", tz="America/Toronto").isoformat()
end = pd.Timestamp("2022-03-30", tz="America/Toronto").isoformat()

In [54]:
# Set the tickers
tickers = ["AGG", "SPY"]
# Set timeframe to '1D' for Alpaca API
timeframe = "1D"
from alpaca_trade_api.rest import REST, TimeFrame

In [57]:
# alpaca.get_bars(tickers, timeframe, start = today, end = today).df
# Get current closing prices for SPY and AGG
df_portfolio_year = alpaca.get_bars(tickers, TimeFrame.Day, "2022-03-23", "2022-03-23", adjustment='raw').df

In [58]:
#df_portfolio_year = api.get_bars(tickers, timeframe, start = start, limit = 1000).df

In [59]:
df_portfolio_year.head()

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2022-03-23 04:00:00+00:00,106.96,107.21,106.7105,107.19,8567200,27348,106.991875,AGG
2022-03-23 04:00:00+00:00,446.90,448.49,443.7100,443.80,77982935,627281,446.058683,SPY

In [69]:
# Pick AGG and SPY close prices
agg_close_price = float(df_portfolio_year["AGG"][close])
spy_close_price = float(df_portfolio_year["SPY"][close])

KeyError: 'AGG'

In [70]:
# Print AGG and SPY close prices
print(f"Current AGG closing price: ${agg_close_price}")
print(f"Current SPY closing price: ${spy_close_price}")

NameError: name 'agg_close_price' is not defined

In [72]:
# Print current value of shares
print(f"The current value of your {my_spy} SPY shares is ${my_spy_value:0.2f}")
print(f"The current value of your {my_agg} AGG shares is ${my_agg_value:0.2f}")

NameError: name 'my_spy_value' is not defined

In [73]:
my_agg_value = agg_close_price * my_agg
my_spy_value = spy_close_price * my_spy

NameError: name 'agg_close_price' is not defined

In [97]:
yearly=alpaca.get_bars(tickers, TimeFrame.'Day', "2022-03-23", "2022-03-23", adjustment='raw').df

SyntaxError: invalid syntax (1992463388.py, line 1)

In [99]:
yearly.index=yearly.index.date

NameError: name 'yearly' is not defined

In [100]:
df_portfolio_year

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2022-03-23 04:00:00+00:00,106.96,107.21,106.7105,107.19,8567200,27348,106.991875,AGG
2022-03-23 04:00:00+00:00,446.90,448.49,443.7100,443.80,77982935,627281,446.058683,SPY

In [101]:
df_portfolio_year = df_portfolio_year[['close','symbol']]
df_portfolio_year.index = df_portfolio_year.index.date
df_portfolio_year

             close symbol
2022-03-23  107.19    AGG
2022-03-23  443.80    SPY

### Savings Health Analysis

In [74]:
# Set monthly household income
monthly_income = 12000
total_crypto = my_btc_value + my_eth_value
total_shares_value = my_agg_value + my_spy_value
data = {'amount':[total_crypto, total_shares_value]} 
# Creates pandas DataFrame. 
df_savings = pd.DataFrame(data, index =['crypto', 'shares']) 
# print the data 
df_savings

NameError: name 'my_agg_value' is not defined

In [76]:
df_savings.plot.pie(y="amount", title="Composition of Personal Savings")

NameError: name 'df_savings' is not defined

In [77]:
df_savings.plot.pie(y="amount", title="Composition of Personal Savings")

NameError: name 'df_savings' is not defined

In [78]:
# Set ideal emergency fund
emergency_fund = monthly_income * 3

# Calculate total amount of savings
total_savings = total_crypto + total_shares_value

# Validate saving health
if emergency_fund < total_savings:
        print("Congratuations! You have enough money in this fund.")
elif emergency_fund == total_savings:
        print("Congratulations on reaching your financial goal")
else:
        print(f"You are {emergency_fund - total_savings} dollars away from reaching the goal")

NameError: name 'total_shares_value' is not defined

## Part 2 - Retirement Planning

### Monte Carlo Simulation

In [104]:
from MCForecastTools import MCSimulation

ModuleNotFoundError: No module named 'MCForecastTools'

In [105]:
# Set start and end dates of five years back from today.
# Sample results may vary from the solution based on the time frame chosen
start_date = pd.Timestamp('2016-03-30', tz='America/Toronto').isoformat()
end_date = pd.Timestamp('2022-03-30', tz='America/Toronto').isoformat()

In [106]:
# Get 5 years' worth of historical data for SPY and AGG
tickers = ["AGG","SPY"]
df_stock_data = alpaca.get_bars(tickers, TimeFrame.Year, adjustment='raw').df

AttributeError: type object 'TimeFrame' has no attribute 'Year'

In [107]:
df_stock_data.index = df_stock_data.index.date

NameError: name 'df_stock_data' is not defined

In [82]:
df_stock_data.head()

NameError: name 'df_stock_data' is not defined

In [110]:
def get_data(ticker_name, start_date, end_date):
    df_ticker = alpaca.get_bars(ticker_name, TimeFrame.Day, start_date, end_date, adjustment='raw').df
    df_ticker.index = df_ticker.index.date
    df_ticker=df_ticker[['close']]
    
    return df_ticker

In [122]:
df1=get_data('AGG', '2022-02-23', '2022-03-23')
df1

             close
2022-02-23  109.26
2022-02-24  109.46
2022-02-25  109.57
2022-02-28  110.36
2022-03-01  110.82
2022-03-02  109.49
2022-03-03  109.86
2022-03-04  110.30
2022-03-07  109.66
2022-03-08  109.27
2022-03-09  109.04
2022-03-10  108.43
2022-03-11  108.41
2022-03-14  107.36
2022-03-15  107.60
2022-03-16  107.68
2022-03-17  107.86
2022-03-18  108.10
2022-03-21  107.04
2022-03-22  106.75
2022-03-23  107.19

In [121]:
df2=get_data('SPY', '2022-02-23', '2022-03-23')
df2

             close
2022-02-23  422.07
2022-02-24  428.30
2022-02-25  437.75
2022-02-28  436.63
2022-03-01  429.98
2022-03-02  437.89
2022-03-03  435.77
2022-03-04  432.10
2022-03-07  419.43
2022-03-08  416.25
2022-03-09  427.33
2022-03-10  425.48
2022-03-11  420.07
2022-03-14  417.00
2022-03-15  426.17
2022-03-16  435.55
2022-03-17  441.07
2022-03-18  444.31
2022-03-21  444.30
2022-03-22  449.59
2022-03-23  443.80

In [123]:
initial_price = df1.iloc[-1].values[0]
initial_price

107.19

In [124]:
pct_changes = df1.pct_change()
pct_changes.dropna(inplace=True)
pct_changes.index = pd.to_datetime(pct_changes.index)
pct_changes

               close
2022-02-24  0.001830
2022-02-25  0.001005
2022-02-28  0.007210
2022-03-01  0.004168
2022-03-02 -0.012001
2022-03-03  0.003379
2022-03-04  0.004005
2022-03-07 -0.005802
2022-03-08 -0.003556
2022-03-09 -0.002105
2022-03-10 -0.005594
2022-03-11 -0.000184
2022-03-14 -0.009685
2022-03-15  0.002235
2022-03-16  0.000743
2022-03-17  0.001672
2022-03-18  0.002225
2022-03-21 -0.009806
2022-03-22 -0.002709
2022-03-23  0.004122

In [125]:
pct_changes = df2.pct_change()
pct_changes.dropna(inplace=True)
pct_changes.index = pd.to_datetime(pct_changes.index)
pct_changes

               close
2022-02-24  0.014761
2022-02-25  0.022064
2022-02-28 -0.002559
2022-03-01 -0.015230
2022-03-02  0.018396
2022-03-03 -0.004841
2022-03-04 -0.008422
2022-03-07 -0.029322
2022-03-08 -0.007582
2022-03-09  0.026619
2022-03-10 -0.004329
2022-03-11 -0.012715
2022-03-14 -0.007308
2022-03-15  0.021990
2022-03-16  0.022010
2022-03-17  0.012674
2022-03-18  0.007346
2022-03-21 -0.000023
2022-03-22  0.011906
2022-03-23 -0.012878

In [129]:
from random import sample

In [130]:
possible_changes = list(pct_changes['AGG']['close'].values)
possible_changes[0:10]

KeyError: 'AGG'

In [131]:
from random import sample
def plot_MC(ticker, start_date, end_date):
    df = get_data(ticker, start_date, end_date)
    initial_price= df.iloc[-1].values[0]
    
    pct_changes = df.pct_change()
    pct_changes.dropna(inplace=True)
    pct_changes.index = pd.to_datetime(pct_changes.index)
    
    possible_changes = list(pct_changes['close'].values)
    
    plt.figure(figsize=(20,10))
    
    realizations = []
    for i in range (0,500):
        
        current_price = initial_price
        current_price_history = []
        for i in range (num_days):
            current_pct_change = sample(possible_changes,1)[0]
            current_price = current_price = (1+ current_pct_change)
            current_price_history.append(current_price)
            
        plt.plot(current_price_history)
        plt.title(f"Monte Carlo Simulation for {ticker}")
            
        realizations.append(current_price_history)
            
    plt.show()

In [132]:
plot_MC('AGG', '2022-02-23', '2022-03-23')

NameError: name 'plt' is not defined

In [89]:
# Configuring a Monte Carlo simulation to forecast 30 years cumulative returns
MCSimulation(portfolio_data = df_stock_data, weights = [.40,.60], num_simulation = 500, num_trading_days = 252*30)

NameError: name 'MCSimulation' is not defined

In [47]:
# Printing the simulation input data
# YOUR CODE HERE!

In [48]:
# Running a Monte Carlo simulation to forecast 30 years cumulative returns
# YOUR CODE HERE!

In [49]:
# Plot simulation outcomes
# YOUR CODE HERE!

In [50]:
# Plot probability distribution and confidence intervals
# YOUR CODE HERE!

### Retirement Analysis

In [51]:
# Fetch summary statistics from the Monte Carlo simulation results
# YOUR CODE HERE!

# Print summary statistics
# YOUR CODE HERE!

### Calculate the expected portfolio return at the `95%` lower and upper confidence intervals based on a `$20,000` initial investment.

In [ ]:
# Set initial investment
initial_investment = 20000

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $20,000
# YOUR CODE HERE!

# Print results
print(f"There is a 95% chance that an initial investment of ${initial_investment} in the portfolio"
      f" over the next 30 years will end within in the range of"
      f" ${ci_lower} and ${ci_upper}")

### Calculate the expected portfolio return at the `95%` lower and upper confidence intervals based on a `50%` increase in the initial investment.

In [ ]:
# Set initial investment
initial_investment = 20000 * 1.5

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $30,000
# YOUR CODE HERE!

# Print results
print(f"There is a 95% chance that an initial investment of ${initial_investment} in the portfolio"
      f" over the next 30 years will end within in the range of"
      f" ${ci_lower} and ${ci_upper}")

## Optional Challenge - Early Retirement


### Five Years Retirement Option

In [ ]:
# Configuring a Monte Carlo simulation to forecast 5 years cumulative returns
# YOUR CODE HERE!

In [ ]:
# Running a Monte Carlo simulation to forecast 5 years cumulative returns
# YOUR CODE HERE!

In [ ]:
# Plot simulation outcomes
# YOUR CODE HERE!

In [ ]:
# Plot probability distribution and confidence intervals
# YOUR CODE HERE!

In [ ]:
# Fetch summary statistics from the Monte Carlo simulation results
# YOUR CODE HERE!

# Print summary statistics
# YOUR CODE HERE!

In [ ]:
# Set initial investment
# YOUR CODE HERE!

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $60,000
# YOUR CODE HERE!

# Print results
print(f"There is a 95% chance that an initial investment of ${initial_investment} in the portfolio"
      f" over the next 5 years will end within in the range of"
      f" ${ci_lower_five} and ${ci_upper_five}")

### Ten Years Retirement Option

In [ ]:
# Configuring a Monte Carlo simulation to forecast 10 years cumulative returns
# YOUR CODE HERE!

In [ ]:
# Running a Monte Carlo simulation to forecast 10 years cumulative returns
# YOUR CODE HERE!

In [ ]:
# Plot simulation outcomes
# YOUR CODE HERE!

In [ ]:
# Plot probability distribution and confidence intervals
# YOUR CODE HERE!

In [ ]:
# Fetch summary statistics from the Monte Carlo simulation results
# YOUR CODE HERE!

# Print summary statistics
# YOUR CODE HERE!

In [ ]:
# Set initial investment
# YOUR CODE HERE!

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $60,000
# YOUR CODE HERE!

# Print results
print(f"There is a 95% chance that an initial investment of ${initial_investment} in the portfolio"
      f" over the next 10 years will end within in the range of"
      f" ${ci_lower_ten} and ${ci_upper_ten}")